.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  max-width: 46ch;
  margin-inline: auto;
  margin-block-end: var(--space-8);
  text-align: center;
}

.heading {
  font-size: var(--font-size-2xl);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-5);
}

.cardCta {
  width: 100%;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
